<div id="sidebarContent">
   <div id="thumbnailView">
   </div>
   <div id="outlineView" class="hidden">
   </div>
   <div id="attachmentsView" class="hidden">
   </div>
   </div>
   <div id="sidebarResizer" class="hidden"></div>
   </div> 