<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
<div class="bg-custom mt-5 pt-30 pt-60 pb-5">
    
      <div class="row">
	  <span style="margin: 0 auto;">Connect <i style="color:red" class="fa fa-heart" aria-hidden="true"></i></span>
	  <div class="col-md-12 text-center">
          <a rel="noopener noreferrer" title="GorillaPDF on Facebook" href="https://www.facebook.com/Gorillapdf/"><i class="fab fa-facebook-f"></i></a>
          <a rel="noopener noreferrer" title="GorillaPDF on Twitter" href="https://twitter.com/GorillaPdf"><i class="fab fa-twitter"></i></a>
          <a rel="noopener noreferrer" title="GorillaPDF on Linkedin" href="https://www.linkedin.com/company/gorillapdf"><i class="fab fa-linkedin-in"></i></a>
		  <a rel="noopener noreferrer" title="GorillaPDF on YouTube" href="https://www.youtube.com/channel/UCwZ-91cOLX-Q0fR8fLzIOWw"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-md-12 p-5">
          <div class="row">
            <div class="col-md-3">
              <span>About</span>
              <p class="pt-4">High quality products for getting the job done with your PDF documents.<br/>Convert your PDFs online, free, in environment friendly manner.
			 </p>
            </div>
            <div class="col-md-3">
              <span>Explore</span>
              <ul>
                <li><a href="https://gorillapdf.com">Home</a></a></li>
                <li><a href="https://gorillapdf.com/about">About</a></li>
                <li><a href="https://gorillapdf.com/blog/">Blog</a></li>
                <li><a href="https://gorillapdf.com/contact">Contact</a></li>
				<li><a href="https://gorillapdf.com/sitemap">Sitemap</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <span>Privacy</span>
              <ul>
                <li><a href="https://gorillapdf.com/terms-and-conditions">Terms and Conditions</a></li>
                <li><a href="https://gorillapdf.com/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-md-3 mobile-none">
			  <span>Be The First To Know The News</span>
              <div class="input-group mb-3">
              <a href="http://eepurl.com/hcBV7v" target="_blank" role="button" rel="nofollow noopener" class="btn btn-warning MSI_ext_nofollow">Subscribe For The News</a>
                   </div>
              </div>
          </div>
        </div>
       </div>
    </div>
    <div class="row bg-bottom">
      <div class="col-md-12">
        <p class="text-center pt-2 mb-2">Copyright @ 2023 GorillaPDF. All Rights Reserved</p>
      </div>
    </div>
  
</footer><!-- Footer -->