   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
             <li id="home" class="nav-item"><a href="/" class="nav-link">HOME</a>
                </li>
                <li class="dropdown nav-item"> <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">TOOLS

      <span class="caret"></span></a>
                    <ul class="dropdown-menu">
						<li class="dropdown-item"><a href="/compress-pdf">Compress PDF</a></li>
					    <li class="dropdown-item"><a href="/password-protect-pdf">Password Protect PDF</a></li>
                        <li class="dropdown-item"><a href="/excel-to-pdf">Excel to PDF</a></li>
						<li class="dropdown-item"><a href="/online-ocr">Online OCR</a></li>
						<li class="dropdown-item"><a href="/html-to-pdf">HTML to PDF</a></li>
                        <li class="dropdown-item"><a href="/jpg-to-pdf">JPG to PDF</a></li>
						<li class="dropdown-item"><a href="/merge-pdf">Merge PDF</a></li>
						<li class="dropdown-item"><a href="/odp-to-pdf">ODP to PDF</a></li>
						<li class="dropdown-item"><a href="/ods-to-pdf">ODS to PDF</a></li>
						<li class="dropdown-item"><a href="/odt-to-pdf">ODT to PDF</a></li>
                        <li class="dropdown-item"><a href="/png-to-pdf">PNG to PDF</a></li>
						<li class="dropdown-item"><a href="/ppt-to-pdf">PPT to PDF</a></li>
                        <li class="dropdown-item"><a href="/txt-to-pdf">TXT to PDF</a></li>
						<li class="dropdown-item"><a href="/unlock-pdf">Unlock PDF</a></li>				
						<li class="dropdown-item"><a href="/word-to-pdf">Word to PDF</a></li>
						<li class="dropdown-item"><a href="/pdf-to-text">PDF to Text</a></li>
						<li class="dropdown-item"><a href="/pdf-reader">PDF Reader</a></li>
                    </ul>
                </li>
             </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" title="GorillaPDF Home" href="https://gorillapdf.com"><img alt="GorillaPDF Logo" title="GorillaPDF" src="/img/gorillapdf-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://gorillapdf.com/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://gorillapdf.com/contact">CONTACT</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="https://gorillapdf.com/blog/">BLOG</a>
            </li>
        </ul>
    </div>
	</div>
</nav>