<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
        <rewrite>
            <rules>
                <clear />
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^gorillapdf\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://gorillapdf.com/{R:1}" />
                </rule>
				
                <rule name="Plesk. Mail autodiscover-autoconfig for #9" stopProcessing="true">
                    <match url="^autodiscover/autodiscover\.xml$|^(\.well-known/autoconfig/)?mail/config\-v1\.1\.xml(.*)$|^email\.mobileconfig$" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://127.0.0.1:8880/mailconfig/" />
                </rule>
                <rule name="Plesk. SSL redirect for #9" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" matchType="Pattern" pattern="OFF" ignoreCase="true" negate="false" />
                        <add input="{HTTP_IS_SITEPREVIEW}" matchType="Pattern" pattern="1" ignoreCase="true" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3001/{R:1}" />
                </rule>
				
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\gorillapdf.com\tmp" />
  </system.web>
</configuration>