<!DOCTYPE html>
<% var lang=root.lang %>
<html lang="<%=lang%>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>We Are Hiring Back-End Developer Intern - Apply Now</title>
    <meta name="description" content="We have open positon for Back-End Developer Intern. See requirements and benefits and apply. We expect your application.">
    <link rel="canonical" href="https://gorillapdf.com/careers/back-end-developer-intern-nodejs" />
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://gorillapdf.com/">Home</a></li>
    <li class="breadcrumb-item"><a href="https://gorillapdf.com/careers">Careers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Back-End Developer Intern (Node.js)</li>
  </ol>
</nav>
        <div class="container container-fluid">
		<h1>Back-End Developer Intern (Node.js)</h1>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <span class="badge badge-pill bg-warning text-dark text-center">Remote</span>
    </div>
    <div class="col col-lg-2">
  </div>
 </div>
<br><br>
<div class="row justify-content-center">
    <div class="col-8">
	<p style="text-align:center;font-weight:bold;">THIS POSITION IS FILLED</p>
<p>GorillaPDF family is looking for an intern who would like to learn web application development with Node.js, in a work environment with real projects.</p>
<p>Previous experience with Node.js development is not required, but it is desirable that students have developed at least one or more projects in the form of seminar papers or freelance projects on any platform or technology.</p>
<p>Preference will be given to students who are in their final years of study. After the end of the internship period, there is a real and stable employment opportunity.</p>
<p>If you would like to apply for the position or have any questions, please email <strong>careers@gorillapdf.com</strong>.</p>
<p>In addition to the basic information, we would like to hear a brief description of what you have worked on so far, what technologies you have used and what affinities for personal development you have in the future.</p>
<p>We look forward to your applications!</p>
	</div></div>
        </div>
        <% include partials/footer %>
</body>
</html>

