<!DOCTYPE html>
<% var lang=root.lang %>
<html lang="<%=lang%>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Brand Marketing Intern Position - Apply Now</title>
    <meta name="description" content="We have open positon for Brand Marketing Intern. See requirements and benefits and apply. We are waiting for you to move our brand forward.">
    <link rel="canonical" href="https://gorillapdf.com/careers/brand-marketing-intern " />
      <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
   <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://gorillapdf.com/">Home</a></li>
    <li class="breadcrumb-item"><a href="https://gorillapdf.com/careers">Careers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Brand Marketing Intern</li>
  </ol>
</nav>
        <div class="container container-fluid">
		<h1>Brand Marketing Intern</h1>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <span class="badge badge-pill bg-warning text-dark text-center">Remote</span>
    </div>
    <div class="col col-lg-2">
  </div>
 </div>
<br><br>
<div class="row justify-content-center">
    <div class="col-8">
	<p style="text-align:center;font-weight:bold;">THIS POSITION IS FILLED</p>
<p>As a brand marketing intern, you will be eager to share the love and tell the world about our amazing products and services. You will collaborate with our team in all stages of marketing campaigns. Your insightful contribution will help develop, expand, and maintain our marketing channels, execute our global marketing strategy, and increase brand awareness.</p>
<p>The team would be happy if you are creative, have awesome communications and people skills and if you are ready to make a 3 months commitment. Guessing that you are one of those organized people that like to have their potential responsibilities bullet-pointed:</p>
<ul>
<li>Assist in the efforts to expand on Social Media.</li>
<li>Support SEO activities.</li>
<li>Release your creativity on Canva and other presentation tools.</li>
<li>Streamline PR.</li>
<li>Contribute in brand development.</li>
</ul>
<p>The intern would have marketing mentor being the guide through the marketing journey. A bunch of experienced programming ninjas would also support your efforts to build the brand, and feel comfortable while getting your hands on experience.</p>
<p>This is a remote position with compensation and there is an opportunity to continue after the internship period.</p>
<p>Send your CV at <strong>careers@gorillapdf.com</strong> and make a great career with us.</p>
<p>We are looking forward to joining our family.</p>
	</div></div>
        </div>
        <% include partials/footer %>
</body>
</html>