<!-- <style>
    .container-fluid {
   padding-top: 0px !important;
   padding-bottom: 70px !important;
}
</style>
<div class="row margin-top-20" style="background-color:gray">
    <div class="col-sm-12" style="margin:10px">
        <div class="adbelbtn">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3282126219211438" crossorigin="anonymous"></script>

            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3282126219211438" data-ad-slot="1249628917"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div> -->



