<% var lang=root.lang%>
<% var langCode= lang==="en" ? "" : "/"+lang %>
<footer class="page-footer font-small blue pt-4">
    
    <div class="footer-copyright text-center py-3"> 
        <%=__('root.footer.copyright')%>
        <a href="https://gorillapdf.com"> <%=__('root.footer.gorillaPdf')%></a>
    </div>
</footer>
