<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h4 class="text-uppercase">Connect with GorillaPDF</h4>
          <p><a href="https://www.facebook.com/Gorillapdf/" rel="noreferrer noopener" target="_blank" title="Follow GorillaPDF on Facebook"><i class="fab fa-facebook-f fa-4x fa-fw"></i></a><a href="https://twitter.com/GorillaPdf" rel="noreferrer noopener" target="_blank" title="Follow GorillaPDF on Twitter"><i class="fab fa-twitter fa-4x fa-fw"></i></a><a href="https://www.linkedin.com/company/gorillapdf" rel="noreferrer noopener" target="_blank"><i class="fab fa-linkedin-in fa-4x fa-fw"></i></a></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Tools</h5>
  
          <ul class="list-unstyled">
		    <li><a href="/compress-pdf">Compress PDF</a></li>
            <li><a href="/password-protect-pdf">Encrypt PDF</a></li>
			<li><a href="/excel-to-pdf">Excel to PDF</a></li>
			<li><a href="/html-to-pdf">HTML to PDF</a></li>
			<li><a href="/merge-pdf">Merge PDF</a></li>
			<li><a href="/pdf-to-text">PDF to Text</a></li>
			<li><a href="/pdf-reader">PDF Reader</a></li>
			<li><a href="/jpg-to-pdf">JPG to PDF</a></li>
			<li><a href="/odp-to-pdf">ODP to PDF</a></li>
			<li><a href="/ods-to-pdf">ODS to PDF</a></li>
			<li><a href="/odt-to-pdf">ODT to PDF</a></li>
			<li><a href="/png-to-pdf">PNG to PDF</a></li>
			<li><a href="/ppt-to-pdf">PPT to PDF</a></li>
			<li><a href="/txt-to-pdf">TXT to PDF</a></li>
			<li><a href="/unlock-pdf">Unlock PDF</a></li>
			<li><a href="/word-to-pdf">Word to PDF</a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Info</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://gorillapdf.com/about">About</a>
            </li>
            <li>
              <a href="https://gorillapdf.com/contact">Contact</a>
            </li>
		<li>
              <a href="https://gorillapdf.com/blog/">Blog</a>
            </li>
            <li>
              <a href="https://gorillapdf.com/terms-and-conditions">Terms</a>
            </li>
            <li>
              <a href="https://gorillapdf.com/privacy-policy">Privacy</a>
            </li>
            <li>
              <a href="https://gorillapdf.com/sitemap">Sitemap</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://gorillapdf.com"> GorillaPDF.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->